@import '~antd/dist/antd.css';
.App {
  text-align: center;
  position: relative;
  height: 100%;
}

/* 底部菜单选项 */

.foot-menu {
  position: absolute;
  bottom: 0;
  background-color: orange;
}

/* 按钮 */

.App-goaway:hover {
  animation: 1s rainbow;
}

@keyframes rainbow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}